* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header *{
    display: inline-block;
    vertical-align: middle;
}

header img {
    margin-left: 25px;
    margin-top: 10px;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

#gray_box {
    background-color: rgba(246,248,249,255);
    padding-top: 30px;
}

#container {
    background-color: white;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#head {
    padding-left: 5%;
    border-bottom: 3px solid rgba(246,248,249,255);
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#blue_button {
    color: white;
    background-color: #47adf1;
    border: 1px;
    border-style: solid;
    border-color: #47adf1;
}

#gray_button {
    color: #dcdfe2;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: #dcdfe2;
}

.task {
    margin-top: 50px;
    margin-bottom: 50px;
}

.second_title *{
    display: inline-block   ;
}

.center {
    padding-left: 5%;
}

small {
    font-size: 10px;
    margin: 0.5px 4px;
    vertical-align: middle;
}

.paragraph * {
    display: inline-block;
}

.paragraph .text {
    font-size: 20px;
    margin-top: 20px;
}

.green_tick {
    border: 1px solid #62bea7;
    color: #62bea7;
    border-radius: 50%;
}

.red_cross {
    border: 1px solid #ea4c42;
    color: #ea4c42;
    border-radius: 50%;
}

.blue {
    color: white;
    background-color: #3da7e8;
    border-radius: 7.5px;
    padding: 2px 4px;
}

.purple {
    color: white;
    background-color: #966ae2;
    border-radius: 7.5px;
    padding: 2px 4px;
}

.green {
    color: white;
    background-color: #64bfa9;
    border-radius: 7.5px;
    padding: 2px 4px;
}

.orange {
    color: white;
    background-color: #f29e33;
    border-radius: 7.5px;
    padding: 2px 4px;
}

.purple {
    color: white;
    background-color: #d762a0;
    border-radius: 7.5px;
    padding: 2px 4px;
}

.purple {
    color: white;
    background-color: #d762a0;
    border-radius: 7.5px;
    padding: 2px 4px;
}

.yellow_green {
    color: white;
    background-color: #b0c926;
    border-radius: 7.5px;
    padding: 2px 4px;
}